@font-face{
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face{
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
  }
  
html {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
}

.header {
    margin-bottom: 16px;
    position: relative;
    border-top: 1px solid #D9FFF5;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
    z-index: -1;
    transform: rotate(-180deg);
}

.header__title {
    font-family: 'TT Lakes';
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px;
}
 
.image-slide__wrapper {
    padding-left: 16px;
    position: relative;
}

.button-styling {
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    line-height: 72px;
    padding-left: 16px;
    position: relative;
} 

.image-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.button-styling img {
    vertical-align: middle;
} 

.button-styling::after {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    top: 16px;
    right: 15px;
  }

.button-styling::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  rotate: -45deg;
  top: 33px;
  right: 34px;
  border-bottom: 2px solid #FF3E79;
  border-right: 2px solid #FF3E79;
  border-radius: 1px;
}

.swiper {
    width: 100%;
    height: 115px; 
}
  
.swiper-slide{
    flex-shrink: 1  !important;
}

#toggleButton{
    display: none;
}

#acer, 
#sony{
    display: none;  
}

@media (min-width: 768px) {

    .header__title{
        padding-left: 24px;
    }

    .image-slide__wrapper{
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 24px;
      row-gap: 16px;
      max-width: calc(100% - 48px);
      padding-top: 24px;
    }
    
    .swiper-pagination {
       display: none;
    }
    
    .swiper {
        height: auto;
    }
    .button-styling {
        width: 100%;
        height: auto;
    }

    #toggleButton {
        display: flex;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #1b1c21;
        font-family: "TT-lakes-medium";
        background-color: #F8F8F8;
        margin-left: 57px;
        position: relative;
    }
    
    #toggleButton::after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        rotate: 45deg;
        top: 4px;
        left: -17px;
        border-right: 2px solid #41F6D7;
        border-bottom: 2px solid #41F6D7;
        border-radius: 1px;
      }
    
    #toggleButton::before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        rotate: 45deg;
        top: 10px;
        left: -17px;
        border-right: 2px solid #41F6D7;
        border-bottom: 2px solid #41F6D7;
        border-radius: 1px;
    }
    
    
    }